@model ProductEditVM
@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
 <div class="product-images row mt-3 gap-5">
     @foreach (var item in Model.ExistImages)
        {
           <div class="product-item delete-image" style="position:relative">
                <img src="~/img/@item.Image" class="@(item.IsMain ? "product-main-image" : "")" style="width:150px;height:150px;" />
                @if (!item.IsMain)
                {
                    <button class="btn btn-danger btn-sm delete-image-btn" data-image-id="@item.Id" data-product-id="@item.ProductId" style="position:absolute;top:60px;left:49px; ">Delete</button>
                }
                
           </div>
           
        }
 </div>
    <form class="forms-sample" method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control text-white" maxlength="20">
            <span class="text-danger" asp-validation-for="Name"></span>

            <label>Description</label>
            <input asp-for="Description" class="form-control text-white mt-4" maxlength="20">
            <span class="text-danger" asp-validation-for="Description"></span>

            <label>Price</label>
            <input asp-for="Price" class="form-control text-white mt-4" maxlength="20">
            <span class="text-danger" asp-validation-for="Price"></span>

            <label class="mt-4">Category</label>
            <select class="form-control text-white" asp-for="CategoryId" asp-items="@ViewBag.categories">
            </select>

            <label class="mt-4">Images</label>
            <input asp-for="NewImages" class="form-control">
            <span class="text-danger" asp-validation-for="NewImages"></span>
        </div>


        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a asp-action="Index" class="btn btn-primary text-white">Back</a>
    </form>
</div>


