
@{
    ViewData["Title"] = "Detail";
}
<div class="container">
    <h1>Slider Detail</h1>
    <div class="image">
        <img src="~/img/@Model.Image" style="width:600px; height:300px;"/>
    </div>
    <a asp-action="Index" class="btn btn-primary text-white">Back</a>
</div>


